.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-buttons__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: var(--third-bcg-color);
  color: var(--titles-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-main),
    background-color var(--transition-main), box-shadow var(--transition-main);
  &:hover,
  &:focus {
    color: var(--first-font-btn-color);
    background-color: var(--first-bcg-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
